PPL_copyfromgit.json
{
	"name": "PPL_copyfromgit",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Validationgithub",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_array_files",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy from git to bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_file_name": {
											"value": "@item().p_file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_sink",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@item().p_folder_name",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@item().p_file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validationgithub",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_raw",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Github metadata",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/priya22-gif/AmazonPrime_Data-Engineering_Project/tree/master"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Github metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "githubmetadata",
					"value": {
						"value": "@activity('Github metadata').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_array_files": {
				"type": "array",
				"defaultValue": [
					{
						"p_folder_name": "amazonPrime_cast",
						"p_file_name": "amazonPrime_cast.csv"
					},
					{
						"p_folder_name": "amazonPrime_categories",
						"p_file_name": "amazonPrime_categories.csv"
					},
					{
						"p_folder_name": "amazonPrime_countries",
						"p_file_name": "amazonPrime_countries.csv"
					},
					{
						"p_folder_name": "amazonPrime_directors",
						"p_file_name": "amazonPrime_directors.csv"
					}
				]
			}
		},
		"variables": {
			"githubmetadata": {
				"type": "String"
			}
		},
		"annotations": []
	}
}